<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="database"
            xsi:type="Database"
            connectionStringName="Server=tcp:infibooksserver.database.windows.net,1433;Initial Catalog=infiBooksDatabase;Persist Security Info=False;User ID=infiadmin;Password=Newserver!23;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            connectionString="Server=tcp:infibooksserver.database.windows.net,1433;Initial Catalog=infiBooksDatabase;Persist Security Info=False;User ID=infiadmin;Password=Newserver!23;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            commandText="exec dbo.InsertLog
                          @level,
                          @callSite,
                          @type,
                          @message,
                          @stackTrace,
                          @innerException,
                          @additionalInfo">
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
                 layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />

      <parameter name="@additionalInfo" layout="${message}" />
      <!--<parameter name="@methodName" layout="${gdc:methodName}" />-->
    </target>
    <target name="fileTarget"
            xsi:type="File" fileName="D:\ClientName\ApplicationName\Logs\STIR.log"
            layout="
                    -------------- ${level} (${longdate}) --------------${newline}
                    ${newline}
                    Call Site: ${callsite}${newline}
                    Exception Type: ${exception:format=Type}${newline}
                    Exception Message: ${exception:format=Message}${newline}
                    Stack Trace: ${exception:format=StackTrace}${newline}
                    Additional Info: ${message}${newline}
                    MethodName: ${gdc:methodName}" />
  </targets>

  <rules>
    <logger levels="Error,Warn,Fatal,Trace" name="databaseLogger" writeTo="database"/>
    <logger minlevel="Trace" name="fileLogger" writeTo="fileTarget"/>
  </rules>
</nlog>
