<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="database"
            xsi:type="Database"
            connectionStringName="PAASInsightContext"
            commandText="exec dbo.InsertLog
                          @level,
                          @callSite,
                          @type,
                          @message,
                          @stackTrace,
                          @innerException,
                          @additionalInfo,
                          @methodName">
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
                 layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />

      <parameter name="@additionalInfo" layout="${message}" />
      <parameter name="@methodName" layout="${gdc:methodName}" />
    </target>
    <target name="fileTarget"
            xsi:type="File" fileName="D:\ClientName\ApplicationName\Logs\STIR.log"
            layout="
                    -------------- ${level} (${longdate}) --------------${newline}
                    ${newline}
                    Call Site: ${callsite}${newline}
                    Exception Type: ${exception:format=Type}${newline}
                    Exception Message: ${exception:format=Message}${newline}
                    Stack Trace: ${exception:format=StackTrace}${newline}
                    Additional Info: ${message}${newline}
                    MethodName: ${gdc:methodName}" />
  </targets>

  <rules>
    <logger levels="Error,Warn,Fatal,Trace" name="databaseLogger" writeTo="database"/>
    <logger minlevel="Trace" name="fileLogger" writeTo="fileTarget"/>
  </rules>
</nlog>
